<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-vertical-style="overlay" class="light" data-toggled="close">
    
    <head>

        <!-- META DATA -->
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Author" content="Spruko Technologies Private Limited">
        <meta name="Description" content="ASP.NET MVC5 Tailwind CSS Admin & Dashboard Template">
        <meta name="keywords" content="asp net, asp net mvc, dotnet, tailwind template, admin, asp, framework dotnet, dashboard, tailwind, admin dashboard, template dashboard, admin panel template, admin dashboard template, asp net core mvc, net mvc">
        
        <!-- TITLE -->
		<title>@ViewData["Title"]YNEX - ASP.NET MVC5 Tailwind CSS Admin & Dashboard Template </title>

        <!-- FAVICON -->
        <link rel="icon" href="@Url.Content("~/assets/images/brand-logos/favicon.ico")" type="image/x-icon">

        <!-- ICONS CSS -->
	    <link  id="style" href="@Url.Content("~/assets/css/icons.css")" rel="stylesheet">

        <!-- STYLES CSS -->
        <link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet">

        <partial name="~/Views/Shared/Layouts/_styles.cshtml">

        <!-- AUTHENTICATION MAIN JS -->
        <script src="@Url.Content("~/assets/js/authentication-main.js")"></script>

        @await RenderSectionAsync("Styles", required: false)

	</head>

	<body>

            @RenderBody()

        <!-- SCRIPTS -->

        @await RenderSectionAsync("Scripts", required: false)

        <!-- END SCRIPTS -->

	</body>
</html>
